<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <input id="email" type="email" formControlName="email" placeholder="Email" />
    </div>
  
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password" />
     
    </div>

    <div *ngIf="submitted && error" class="error">
      <span>{{ error || 'Login failed.' }}</span>
    </div>

    <button mat-flat-button color="primary" type="submit">Login</button>
  </form>
</div>