<mat-toolbar color="primary">
  <div>
    <span routerLink="/home">SBZ Projekat</span>
  </div>
  <span class="spacer"></span>

  @if (!authService.isLoggedIn()) {
    <div>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </div>
  } @else {
    <div>
      <button mat-button routerLink="/add-place">Add place</button>
      <button mat-button routerLink="/create-post">Create post</button>
      <button mat-button routerLink="/my-posts">My posts</button>
      <button mat-button (click)="authService.logout()">Logout</button>
    </div>
  }

  <div>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>
