mat-toolbar.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* left and right */
  align-items: center;
  background-color: burlywood;
  padding: 0 16px;
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-right {
  display: flex;
  gap: 8px;
  align-items: center;
}
